<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <style>
    /* Critical css */
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin: 0;
    }
  </style>
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.5.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@16.13.1/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.production.min.js",
        "react-is": "https://cdn.jsdelivr.net/npm/@esm-bundle/react-is@16.13.1/system/react-is.production.min.js",
        "styled-components": "https://cdn.jsdelivr.net/npm/@esm-bundle/styled-components/system/styled-components.js"
      }
    }
  </script>
  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@single-spa/welcome": "https://unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
        "@filoxo/root-config": "//localhost:9000/filoxo-root-config.js",
        "@filoxo/styleguide": "//localhost:9001/filoxo-styleguide.js",
        "@filoxo/navbar": "//localhost:9002/filoxo-navbar.js"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.14.6/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/extras/amd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/extras/named-exports.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.14.6/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/extras/named-exports.min.js"></script>
  <% } %>
  <script>
    // This workaround is for Webpack failing to properly interop with System format externals
    // This is a workaround for Webpack 4 https://github.com/react-microfrontends/api/issues/1#issuecomment-594289086
    // but could also be resolved by upgrading to Webpack 5, which is still in beta at the time of this commit.
    (function() {
      const originalInstantiate = System.constructor.prototype.instantiate;
      System.constructor.prototype.instantiate = function() {
        return originalInstantiate
          .apply(this, arguments)
          .then(function(register) {
            const originalFn = register[1];
            register[1] = function(_export) {
              _export("__esModule", true);
              return originalFn.apply(this, arguments);
            };
            return register;
          });
      };
    })();
  </script>

  <template id="single-spa-layout">
    <single-spa-router>
      <nav>
        <application name="@filoxo/navbar"></application>
      </nav>
      <main>
        <route default>
        </route>
      </main>
    </single-spa-router>
  </template>
</head>
<body>
  <script>
    System.import('@filoxo/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
